* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 1.135rem !important;
    background: url(images/background-image.jpeg) no-repeat center center;
    background-size: auto;
}

main {
    margin-top: 4.5rem;
    max-width: 700px;
    width: 95%;

    h1 {
        background-color: darken(#DBCBA9, 10%);
        color: darken(#BEA175, 40%);
    }

    button {
        font-size: 1.35rem;
        background-color: lighten(#956835, 30%);
        color: darken(#D3B68C, 50%);
    }

    .card {
        border: 5px solid lighten(#956835, 30%);
        
        h3 {
            color: darken(#D3B68C, 50%);
        }

        a,
        a:visited {
            color: darken(#458E9F, 15%);
        }
    }
}