@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap")

* 
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Epilogue', sans-serif !important
    font-weight 500 !important
    background url(images/background-image.jpeg) no-repeat
    background-size cover
    min-height 100vh
    
main 
    max-width 800px
    width 95%    
    margin-top 6rem

    .header 
        background-color #C78642

        h1 
            color darken(#4E4413, 40%)

    .recipe-container        
        background-color #B6B7B2
        color darken(#BABCBB, 70%)

        .recipe-image
            width 100%
            height 500px
          
        button 
            background-color #363731   
            font-size 1.125rem      