@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("images/background-image.jpeg") no-repeat;
  background-size: cover;
  min-height: 88vh;
  font-family: 'Epilogue', sans-serif !important;
}
main {
  margin-top: 6rem;
  max-width: 700px;
  width: 95%;
}
main h1 {
  background-color: #8eb0b2;
  color: #353436;
}
main .info {
  background-color: #8ea898;
}
main .info h3,
main .info button,
main .info h5 {
  color: #332b1e;
}
main .info button {
  font-size: 1.125rem;
  background-color: #e4dbcb;
  transition: 0.3s ease;
}
main .info button:hover {
  background-color: #caba9a;
}
